/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.registration {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4070f4;
}

.container {
    position: relative;
    max-width: 900px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 0 15px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.header {
    font-size: 24px;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
}

.form {
    margin-top: 16px;
}

.details {
    margin-bottom: 20px;
}

.fields {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.inputField {
    flex: 1;
    min-width: 200px; /* Ensures a minimum width */
}

.inputField label {
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}

.inputField input,
.inputField select {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 10px 15px;
    height: 42px;
    margin-top: 8px;
}

.inputField input:focus,
.inputField select:focus {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}

.submit {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 20px 0;
    background-color: #4070f4;
    transition: all 0.3s linear;
    cursor: pointer;
}

.submit:hover {
    background-color: #265df2;
}

@media (max-width: 750px) {
    .fields {
        flex-direction: column;
    }
}

@media (max-width: 550px) {
    .inputField {
        width: 100%;
    }
}
